/* Importing CSS */
@import url(http://fonts.googleapis.com/css?family=Oswald:100,400,300,700);


.container {
  max-width: 960px;
}
/*
 * Checking Fonts
 */
body {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 100;
}

.boldHeading {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900 !important;
}


.bigHeading {
  color: #f5f5f5 !important;
  text-shadow: 0px 0px 16px #5a5a5a;
  font-size: 5vw ;
}
/*
 * Buttons Styles
 */
.btnBordered {
  border: 1px solid #969696;
  border-radius: 16px;
}
.btnCircle {
  border: 2px solid #888;
  color: white;
  border-radius: 100%;
  min-width: 32px;
  min-height: 32px;
}

.btnBlueGlow {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #295fef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 32px 0px #1CB5E0;
  color: #FFF;
  min-width: 10vw;
  width: 16vw;
  font-size: 28px;
  border: 0;
  border-radius: 8px;
}


/*
 * Custom Gradients
 */
.bg-dark {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-light {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #e1e1e1, #f9f9f9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #e1e1e1, #f9f9f9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
 * Custom translucent site header
 */

.site-header {
  background: rgba(0,0,0,0.1);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
